<!DOCTYPE html>
<html>
    <head>
        <title>Django blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <style>
        .loginsection{
			width:50%;
			height:50%;
			margin-left:25%;
			margin-top:25%;
			background-color:orange;
			text-align:center;
			}
        
        </style>
    </head>
    <body>
		<div class="loginsection">
		
		<h3>TEBRİKLER GİRİŞ YAPTINIZ.</h3><br>
		HELALULAN<br>
		ADAMA BAK BE<br>
		HUAWDHHUAWHUDAWW<br>
		</div>
		
	</body>
 </html>
